
body {
  background: linear-gradient(to right, #6BBEBE, #6BBEBE);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; 
  height: 100vh; 
}

.quote-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px; 
  width: 90%; 
}
